<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#" [routerLink]="['']" routerLinkActive="active">Anyflix</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#" [routerLink]="['']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Favourites</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white me-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin options
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="openReport()">Genre report</a></li>
              <li><a class="dropdown-item" (click)="openReportS()">Series review report</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" [routerLink]="['add-series']" routerLinkActive="active">Add movie/series</a></li>
            </ul>
          </li>
        </ul>
        
        <!-- Centered Search Form -->
        <form class="navbar-form d-flex">
          <div class="input-group">
            <input class="form-control me-2 ms-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-funnel-fill"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" *ngIf="items | async as items_">
              <li *ngFor="let item of items_"><a class="dropdown-item" href="#">{{ item.name }}</a></li>            
            </ul>
          </div>
          <button class="btn btn-outline-danger ms-2" type="submit">Search</button>
        </form>
        
        <!-- Login Button -->
        <div class="navbar-login">
          <a class="btn btn-login" type="button" [routerLink]="['login']" routerLinkActive="active">Login</a>
        </div>
      </div>
    </div>
  </nav>
