<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-md-3">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-md-3">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-md-3">
      <app-movie-item></app-movie-item>
    </div>
    <div class="col-md-3">
      <app-movie-item></app-movie-item>
    </div>

    <app-add-series-form></app-add-series-form>
    <p>



    </p>
    <app-login-form></app-login-form>
    <p>


      
    </p>
    <br>
    <br>
  </div>
  
</div>


