/* styles.css */

.card-bg-dark {
    background-color: #343a40; /* Dark background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the card */
  }
  
  .btn-primary {
    background-color: #960018; /* Red background */
    border-color: #dc3545; /* Button border color */
    color: white; /* White text */
    font-weight: bold; /* Bold text */
  }
  
  .btn-primary:hover {
    background-color: #c82333; /* Darker red on hover */
    border-color: #bd2130; /* Darker border color on hover */
  }
  
  .form-control {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside input and select */
    margin-bottom: 10px; /* Bottom margin */
    border: 1px solid #ced4da; /* Border color */
    border-radius: 4px; /* Rounded corners */
    background-color: #343a40; /* Dark background */
    color: white; /* White text */
  }
  
  .form-label {
    margin-bottom: 5px; /* Bottom margin for labels */
    color: white; /* White label text */
  }
  
  h2.text-center.mb-4 {
    color: #dc3545; /* Red color for Add Series heading */
    font-weight: bold; /* Bold text */
  }
  
  /* Styling for file input button text */
  .file-input {
    color: white; /* White text color for file input name */
  }
  
  .file-input::file-selector-button {
    background-color: #960018; /* Red background for the file input button */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px; /* Padding inside the button */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    margin-left: 0.5px;
  }
  
  .file-input::file-selector-button:hover {
    background-color: #fc0921; /* Darker red on hover */
  }
  
  /* Styling for multiple select options */
  select.form-control option::selection {
    background-color: #960018; /* Red background for selected options */
    color: white; /* White text for selected options */
  }
  