<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-6">
      <div class="card card-bg-dark">
        <h2 class="text-center mb-4">Add Series</h2>
        <form [formGroup]="seriesForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" formControlName="title" class="form-control title-input" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" formControlName="description" class="form-control" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="genre" class="form-label">Genre:</label>
            <select id="genre" formControlName="genre" class="form-control" multiple required>
              <option value="action">Action</option>
              <option value="comedy">Comedy</option>
              <option value="drama">Drama</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <input type="file" id="image" class="form-control file-input" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="seriesForm.invalid">Add Series</button>
        </form>
      </div>
    </div>
  </div>
</div>
